<!-- Simple header and description of the website -->
<h1>About My Barrie</h1>
<p>This site is designed so that our class can share their favourite places around the town.</p>


<!-- Information about the author -->
 <div class="card is-four-fifths">
  <div class="card-content">
    <h1 class="card-title">Inderjit Singh</h1>
    <p>Have some great project ideas? Connect with me using LinkedIn or check my other projects on GitHub</p>
    <a href="https://github.com/InderjitSingh2002">GitHub</a>
    <a href="https://www.linkedin.com/in/inderjit-singh-1ba826204/">LinkedIn</a>
  </div>
</div>